button.ant-btn.css-dev-only-do-not-override-1vtf12y.ant-btn-primary {
  background-color: #3f8ce9;
}

.ant-modal-footer {
  text-align: center !important;
}
button.ant-btn.css-dev-only-do-not-override-1vtf12y.ant-btn-default {
  display: none;
}
